.card-widget.card-welcome
  .item-headline
    i.fa.fa-user
    span 欢迎来访者!
  .item-content
    p 👋🏻我是阿黄，一个
      span(style="font-weight: bold; color: #3498db") 热爱编程
      | 的技术爱好者，喜欢分享经验。😊 
    p ❓有问题欢迎提问，确保内容有意义，详情请见
      a(href="https://ayellowdogsays.us.kg/about/" target="_blank" style="font-weight: bold; color: #2980b9") 提问的智慧
      | 。如需联系我，欢迎通过
      a(href="1292728501@qq.com" style="font-weight: bold; color: #9b59b6") 邮箱
      | 联系我！📧
  #welcome-info
    .error-message(style="height: 200px; display: flex; justify-content: center; align-items: center;")
      p(style="text-align: center;")
        span(style="font-size: 40px;") 😥 
        br
        span(style="font-size: 16px;") 由于网络问题
        br
        span(style="font-size: 16px;") 位置API请求错误
        br
        span(style="font-size: 16px;") 请刷新重试呀🤗~
